body {
    font-family: Arial, sans-serif;
    background-image: url('utils/background.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Removes default margin */
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly more opaque for better readability */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
    margin-top: 105px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px; /* Adds space below the heading */
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Includes padding in width calculation */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}

#location {
    font-size: 24px;
    font-weight: bold;
}

#temperature {
    font-size: 20px;
}

#description {
    font-size: 16px;
    color: #555;
}

#error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}
